extends layout
block content
	include nav.pug
	.container
		.row.align-items-center
			.col
				form#user-form(action='/login' method='POST')
					.form-group
						label Enter your name
							input#name-input.form-control(type='text', name='name')
						button.btn.btn-primary(type='submit') Submit
