extends layout
block content
  include nav.pug
    .main.container
      .row
        .col-md-8
          h1.display-5 To: #{user.name}
          form(action='/sendmsg/'+user._id method='POST')
            .form-group
              label(for='message') Message:
              textarea.form-control(rows='5' name='message')
            button.btn.btn-primary(type='submit') Send
