extends layout
block content
	include nav.pug
	.main.container
		.row
			.col-md-offset-2
				h1.display-4 User List
				each val, obj in data
					a.list-group-item-action.list-group-item(href='/profile/' + val._id) #{val.name}
